*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
} 

#nav-id .carousel{
    background-color: #FC8019;
}

#nav-id{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: white;
    border-radius: 16px;
}

.carousel-item img {
    height: 250px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 750px;
    }
    .carousel-caption{
        font-size: 3rem;
    }

}




.carousel-caption {
    /* background-color: white;
    border-radius: 16px;
    padding: 16px; */
    /* color: black; */
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    font-size: 2.5rem;
    width: 400PX ;
}

#option-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    overflow: scroll;
}

.option-img {
    min-width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.option-img:hover {
    transform: scale(1.05);
}


a:hover{
    color: #FC8019;
}

i{
    margin: 0 5px;
}

#resto-list {
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

#resto-list::-webkit-scrollbar {
  display: none; /* optional clean UI */
}

#resto-list .card {
  min-width: 18rem; /* Important */
  flex-shrink: 0;   /* Prevent shrinking */
}
